@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem;
}




::selection {
    color: #fff;
    background: #1cc7d0;
}

.wrapper {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 400px;
    width: 320px;
    padding: 5px;
    background: brown;
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    padding: 1 rem;
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    background-color: white;
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
    position: absolute;
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
    background-color: white;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
    background-color: white;
}

.back-face .info .title1 {
    font-size: 15px;
    font-weight: 300;
    background-color: white;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}

.cont1 {
    background-color: rgb(255, 253, 220);
}

strong {
    font-size: 3.5rem;
    color: brown;
    align-content: center;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-color: brown;
    background-size: 100%, 100%;
    border-radius: 25%;
    border: 1px solid black;
}